<template>
  <div class="terms-wrapper">
    <h3>{{$t('Community guidelines')}}</h3>
    <p>{{$t('last updated')}} 26/07/2018</p>
    
    <h4>{{$t('Be polite')}}</h4>
    <p>{{$t('If you are polite chances of getting a good review is high, more positive reviews means better chances of getting service priority.')}}</p>
    <p>{{$t('If you encounter polite person, please be supportive and give them very good review to encourage more people to be polite to others.')}}</p>
    <p>{{$t('In our community, being polite pays off, if you have higher positive reviews you are given the higher priority. This means the driver who has higher stars will get notification faster than those who are not polite to their passengers. This also applies to passengers, passengers with high stars will be served before those with lower stars')}}</p>

    <h4>{{$t('Be patient')}}</h4>
    <p>{{$t('If you interact with someone who is having a bad day please to ask them what is going on in their life before you decide to give them lower stars.')}}</p>
    <p>{{$t('Always remember your vote will affect that person\'s future, so use this feature responsibly.')}}</p>
    <p>{{$t('Also, remember the abuse of this feature will cause you to lose this ability.')}}</p>

    <h4>{{$t('Be respectful')}}</h4>
    <p>{{$t('Remember to respect anyone, even those who don\'t show respect. Respect and kindness spread fast.')}}</p>
    <p>{{$t('This community is built on respect and kindness if you don\'t believe these values you are not welcome in this community')}}</p>
  </div>
</template>
<script>
export default {
  name: 'guidelines'
}
</script>
