<template>
  <div class="login">
    <h1>{{$t('Login')}}</h1>
    <form @submit="registerUser" class="ui form">
      <div class="ui stackable grid">
        <div class="sixteen wide column field">
          <label for="emailOrPhone">{{$t('Email or Phone')}}</label>
          <input id="emailOrPhone" type="text" v-model="emailOrPhone" :placeholder="$t('Email or Phone')">
        </div>
        <div v-if="showPassword" class="sixteen wide column field">
          <label for="password">{{$t('Password')}}</label>
          <input id="password" type="text" v-model="password">
        </div>
        <div v-else class="sixteen wide column field">
          <label for="password">{{$t('Password')}}</label>
          <input id="password" type="password" v-model="password">
        </div>
        <div class="sixteen wide column">
          <div class="inline field ui basic message">
            <label for="acceptTerms">
              {{$t('By login in you accept the')}} <router-link to="/terms">{{$t('Terms of service')}}</router-link> 
              {{$t('and')}} <router-link to="/privacy">{{$t('Privacy Policy')}}</router-link> 
            </label>
          </div>
          <br>
          <button class="ui primary button" :disabled="disableLogin" type="submit">
            <i class="sign in icon"></i>
            {{$t('Login')}}
          </button>
          <router-link :class="`ui ${$i18n.locale() === 'ar' ? 'left' : 'right'} floated basic button`" to="/signup">
            <i class="file alternate outline icon"></i>
            {{$t('Sign up')}}
          </router-link>
        </div>
      </div>
    </form>

  </div>
</template>
<script>
import {auth} from '../services'
import utils from '../utils'
import {EventBus} from '../main'
export default {
  name: 'login',
  data () {
    return {
      emailOrPhone: '',
      password: '',
      showPassword: false
    }
  },
  methods: {
    registerUser (e) {
      e.preventDefault()
      let user = {
        email: this.email,
        phone: this.phone,
        password: this.password
      }
      console.log('registerUser', user)
      let self = this
      auth.Login(user).then(resp => {
        console.log('auth.Login response', resp)
        if (resp && resp.data && resp.data.token) {
          self.$store.dispatch('setToken', resp.data.token)
          if (resp.data.token && resp.data.token.length > 50) {
            EventBus.$emit('alertMessage', {text: 'Login successful', interval: 3000, type: 'positive'})
            self.$router.push(this.$route.query.next || '/')
            EventBus.$emit('authenticated', {token: resp.data.token})
          }
        }
      }).catch(err => {
        console.log('alertMessages', err.response || err)
        console.log('auth.Login error')
        let messages = []
        if (err.response && err.response.data && err.response.data.messages) {
          messages = err.response.data.messages
        } else if (err.response && err.response.data && err.response.data.msg) {
          messages.push(err.response.data)
        } else {
          messages.push(err.toString())
        }
        if (err.toString().indexOf('Network Error') > -1) {
          self.$store.dispatch('setOnline', {online: false})
        }
        console.log('alertMessages', messages)
        EventBus.$emit('alertMessages', {messages, interval: 3000, type: 'negative'})
      })
    },
    validEmail (email) {
      return utils.emailIsValid(email)
    },
    validPhone (phone) {
      return utils.phoneIsValid(phone)
    }
  },
  beforeMount () {
    if (this.$store.getters.getIsAuthenticated) {
      this.$router.push('/')
      EventBus.$emit('alertMessage', {text: 'You are already logged in', interval: 3000, type: 'positive'})
    }
  },
  computed: {
    passwordTooShort () {
      return this.password && this.password.length < 6
    },
    disableLogin () {
      return this.passwordTooShort && !this.validEmail(this.email)
    },
    email () {
      return this.validEmail(this.emailOrPhone) ? this.emailOrPhone : ''
    },
    phone () {
      return this.validPhone(this.emailOrPhone) ? this.emailOrPhone : ''
    }
  }
}
</script>
<style>
.login {
  max-width: 40em;
  padding: 1em;
  box-shadow: 0 0 1em #000;
  overflow: hidden;
  border: 1px solid #fff;
}
.login h1 {
  background-color: #00B5AD;
  margin: -0.4em;
  margin-bottom: 1em;
  padding: 0.5em;
  text-align: center;
}
</style>
