<template>
  <div class="app">
    <trip-form v-if="!isDriver"></trip-form>
    <driver-form v-else></driver-form>
  </div>
</template>
<script>
import {EventBus} from '../main'
import Map from '../components/Map.vue'
import TripFrom from '../components/TripForm.vue'
import DriverFrom from '../components/DriverForm.vue'
export default {
  name: 'main-view',
  components: {
    'map-item': Map,
    'trip-form': TripFrom,
    'driver-form': DriverFrom
  },
  data () {
    return {
    }
  },
  computed: {
    isDriver () {
      return this.$store.getters.getUserLevel.level === 6
    },
    loggedIn () {
      return this.$store.getters.getIsAuthenticated
    }
  },
  beforeMount () {
    if (!this.$store.getters.getIsAuthenticated) {
      this.$router.push({path: '/login', query: this.$route.query})
      EventBus.$emit('alertMessage', {text: 'Please login or sign up to use this service', interval: 5000, type: 'negative'})
      return
    }
    console.log('beforeMount')
  }
}
</script>
