<template>
  <div class="terms-wrapper">
    <h3>{{$t('Privacy Policy')}}</h3>
    <p>{{$t('last updated')}} 26/07/2018</p>
    <p>{{$t('Bolow Tech Solutions ("us", "our" or "we") which operates Shimbir mobile app ("App", "mobile app") and http://qaado.com (the "Site"). This page informs you of of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site and mobile app.')}}</p>
    <p>{{$t('We use your Personal Information only for providing and improving our service to you through our App and Site. By using the Site or the App, you agree to the collection and use of information in accordance with this policy.')}}</p>

    <h4>{{$t('Information Collection And Use')}}</h4>
    <p>{{$t('While using our Site or App, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information" and "Your location").')}}</p>

    <h4>{{$t('Log Data')}}</h4>
    <p>{{$t('Like many site and mobile apps operators, we collect information that your browser or mobile sends whenever you visit our Site or App ("Log Data").')}}</p>
    <p>{{$t('This Log Data may include information such as your location, your trips, your requests for drivers. your responses to passengers (if you are driver).')}}</p>
    <p>{{$t('In addition, we may use third party services such as Google Maps and geolocation service, Openstreetmaps geolocation service.')}}</p>


    <h4>{{$t('Communications')}}</h4>
    <p>{{$t('We will use your personal Information to book for you trip, request driver, or inform you status of your request, trip or other information')}}</p>
    <p>{{$t('We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that allow us to serve you better and give valuble information about how to get the best out of our service.')}}</p>

    <h4>{{$t('Geolocation service')}}</h4>
    <p>{{$t('Our service is location based and will not work if you disable your location service, if you do not give permission to our App, you are not going to get our service quality as promised.')}}</p>
    <p>{{$t('Location service reliability and accuracy is not 100%, make sure to help the driver if they do not get your correct location.')}}</p>


    <h4>{{$t('Security')}}</h4>
    <p>{{$t('The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.')}}</p>
    <p>{{$t('To protect your identity we share your location, your stars only to notify nearby drivers, those who do not accept your trip will not be able to identify you.')}}</p>
    <p>{{$t('When trip ends we share your personal data with the driver if you are passenger and vise versa, to let each one of you to vote for the other.')}}</p>

    <h4>{{$t('Changes To This Privacy Policy')}}</h4>
    <p>{{$t('This Privacy Policy is effective as of 26/07/2018 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.')}}</p>
    <p>{{$t('We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.')}}</p>
    <p>{{$t('If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.')}}</p>

    <h4>{{$t('Contact Us')}}</h4>
    <p>{{$t('If you have any questions about this Privacy Policy, please contact us.')}}</p>
    
    
  </div>
</template>
<script>
export default {
  name: 'terms'
}
</script>
