<template>
  <div class="profile-wrapper">
    <div v-if="isLoggedIn" class="ui form">
      <h4>
        <router-link class="ui right floated mini primary labeled icon button" to="/settings">
          <i class="cog icon"></i>
          {{$t('Settings')}}
        </router-link>
        {{profile.first_name}} {{profile.last_name}}
      </h4>

      <div class="ui card">
        <div class="image">
          <img :src="profile.profile_pic ? staticDir(profile.profile_pic) : 'dist/img/user/default-male.png'">
        </div>
        <div class="content">
          <a class="header">{{fullName}}</a>
          <div class="meta">
            <span class="date">
              <i class="birthday icon"></i>
              {{profile.birthday}}
            </span>
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            {{$t(userLevel.name)}}
          </a>
        </div>
      </div>

      <hr>

      <h4>{{$t('Vehicles')}}</h4>

      <h5>{{$t('Own vehicles')}}</h5>

      <div class="ui six doubling cards">
        <div class="card" v-for="vehicle in $store.getters.getOwnVehicles" :key="vehicle.id">
          <div class="image">
            <img src="dist/img/no-image-icon.png">
          </div>
          <div class="content">
            <div class="header"> {{vehicle.model}}: {{vehicle.number}}</div>
          </div>
          <div class="extra content">
            <div class="meta">
              {{vehicle.manufacturer}}
            </div>
          </div>
        </div>
      </div>

      <h5>{{$t('Vehicles I drive')}}</h5>

      <div class="ui six doubling cards">
        <div class="card" v-for="vehicle in $store.getters.getDriveVehicles" :key="vehicle.id">
          <div class="image">
            <img src="dist/img/no-image-icon.png">
          </div>
          <div class="content">
            <div class="header"> {{vehicle.model}}: {{vehicle.number}}</div>
          </div>
          <div class="extra content">
            <div class="meta">
              {{vehicle.manufacturer}}
            </div>
          </div>
        </div>
      </div>


    </div>
    <div v-else class="ui negative message">
      {{$t('To access this feature you need to')}} <router-link :to="{path: '/login', query: $route.query}">{{$t('Login')}}</router-link>
    </div>
  </div>
</template>
<script>
import {EventBus} from '../main'
export default {
  name: 'profile',
  data () {
    return {
    }
  },
  methods: {
  },
  computed: {
    profile () {
      return this.$store.getters.getProfile
    },
    isLoggedIn () {
      return this.$store.getters.getIsAuthenticated
    },
    staticDir () {
      return this.$store.getters.getStaticDir
    },
    fullName () {
      if (this.profile && this.profile.first_name) {
        return `${this.profile.first_name} ${this.profile.middle_name} ${this.profile.last_name}`
      }
    },
    userLevel () {
      return this.$store.getters.getUserLevel
    }
  },
  beforeMount () {
    if (!this.$store.getters.getIsAuthenticated) {
      this.$router.push({path: '/login', query: this.$route.query})
      EventBus.$emit('alertMessage', {text: 'Please login or sign up to use this service', interval: 5000, type: 'negative'})
      return
    }
    console.log('beforeMount')
  }
}
</script>
