<template>
  <div class="settings-wrapper">
    <div v-if="isLoggedIn" class="ui form">
      <div class="field" v-if="fileData">
        <label>{{$t('Preview')}}</label>
        <img class="fluid ui image" :src="imgURL" alt="preview">
      </div>
      <div v-if="!(remoteFileData && remoteFileData.url && remoteFileData.url.length > 0)" class="field">
        <label class="ui icon button" for="picture">
          <i class="upload icon"></i>
          {{fileName ? fileName : $t('Select picture')}}
        </label>
        <input type="file" name="picture" id="picture" style="display: none" accept="image/*" @change="selectPicture">
      </div>
      <div v-if="!(remoteFileData && remoteFileData.url && remoteFileData.url.length > 0)" :class="`ui fluid primary ${fileData ? '' : 'disabled'} button`" @click="uploadFile">{{$t('Upload')}}</div>
      <div v-else class="ui positive message">
        <i class="green check circle icon"></i>
        {{$t('Uploaded successfully')}}
      </div>
    </div>
    <div v-else class="ui negative message">
      {{$t('To access this feature you need to')}} <router-link :to="{path: '/login', query: $route.query}">{{$t('Login')}}</router-link>
    </div>
  </div>
</template>
<script>
import {auth} from '../services'
import {EventBus} from '../main'
export default {
  name: 'settings',
  data () {
    return {
      fileName: '',
      fileData: null,
      imgURL: '',
      remoteFileData: {}
    }
  },
  methods: {
    selectPicture (e) {
      console.log('selectPicture', e)
      let parts = e.target.value.split('\\')
      let len = parts.length
      if (len > 0) {
        this.fileName = parts[len - 1]
        if (e.target.files) {
          this.fileData = e.target.files[0]
        }
        let reader = new FileReader()
        reader.onload = e => {
          this.imgURL = e.target.result
        }
        reader.readAsDataURL(this.fileData)
      } else {
        this.fileName = ''
        this.fileData = null
      }
    },
    uploadFile (e) {
      if (e) {
        e.preventDefault()
      }
      let form = new FormData()
      if (this.fileData) {
        form.append('picture', this.fileData)
        let self = this
        auth.Upload(form).then(resp => {
          console.log('auth.Upload response', resp)
          if (resp && resp.data && resp.data.file) {
            self.remoteFileData = resp.data.file
            self.imgURL = self.staticDir(self.remoteFileData.url)
          }
        }).catch(err => {
          console.log('auth.Upload error', err.response || err.toString())
          if (err.toString().indexOf('Network Error') > -1) {
            self.$store.dispatch('setOnline', {online: false})
          }
        })
      }
    }
  },
  computed: {
    profile () {
      return this.$store.getters.getProfile
    },
    isLoggedIn () {
      return this.$store.getters.getIsAuthenticated
    },
    staticDir () {
      return this.$store.getters.getStaticDir
    }
  },
  beforeMount () {
    if (!this.$store.getters.getIsAuthenticated) {
      this.$router.push({path: '/login', query: this.$route.query})
      EventBus.$emit('alertMessage', {text: 'Please login or sign up to use this service', interval: 5000, type: 'negative'})
      return
    }
    console.log('beforeMount')
  }
}
</script>
