<template>
  <div class="signup">
    <h1>{{$t('Sign up')}}</h1>
    <form @submit="registerUser" class="ui form">
      <div class="ui stackable grid">
        <div class="sixteen wide column field">
          <label for="firstName">
            <i class="address card outline icon"></i>
            {{$t('Full name')}}
          </label>
          <input id="firstName" type="text" v-model="fullName" @input="setNames">
        </div>
        <div class="sixteen wide column field">
          <label for="firstName">{{$t('Gender')}}</label>
          <div :class="`inline fields`">
            <div class="field">
              <label :class="`ui right pointing ${isMale ? 'grey' : 'blue'} label`" @click="gender = 'female'; isMale = false">
                {{$t('Female')}}
                <i class="female icon"></i>
              </label>
            </div>
            <div class="field">
              <div class="ui slider checkbox">
                <input type="checkbox" name="throughput" @change="genderChanged" v-model="isMale">
                <label></label>
              </div>
            </div>
            <div class="field">
              <label :class="`ui left pointing ${isMale ? 'blue' : 'grey'} label`" @click="gender = 'male'; isMale = true">
                <i class="male icon"></i>
                {{$t('Male')}}
              </label>
            </div>
          </div>
        </div>
        <div class="sixteen wide column field">
          <label for="birthday">
            <i class="birthday icon"></i>
            {{$t('Birthday')}}
          </label>
          <input id="birthday" type="date" v-model="birthday">
        </div>
        <div class="sixteen wide column field">
          <label for="email">
            <i class="envelope outline icon"></i>
            {{$t('Email')}}
          </label>
          <input id="email" type="text" v-model="theEmail">
          <div class="help-text">{{$t('example email: example@email.com')}}</div>
        </div>
        <div class="sixteen wide column field">
          <label for="phone">
            <i class="mobile alternate icon"></i>
            {{$t('Mobile number')}}
          </label>
          <input id="phone" type="text" v-model="thePhone">
          <div class="help-text">{{$t('example phone: 0612345678')}}</div>
        </div>
        <div v-if="showPassword" class="sixteen wide column field">
          <label for="password">
            <i class="key icon"></i>
            {{$t('Password')}}
          </label>
          <input id="password" type="text" v-model="password">
        </div>
        <div v-else class="sixteen wide column field">
          <label for="password">
            <i class="key icon"></i>
            {{$t('Password')}}
          </label>
          <input id="password" type="password" v-model="password">
        </div>
        <div v-if="showConfirmPassword" class="sixteen wide column field">
          <label for="confirmPassword">
            <i class="key icon"></i>
            {{$t('Confirm password')}}
          </label>
          <input id="confirmPassword" type="text" v-model="confirmPassword">
        </div>
        <div v-else class="sixteen wide column field">
          <label for="confirmPassword">
            <i class="key icon"></i>
            {{$t('Confirm password')}}
          </label>
          <input id="confirmPassword" type="password" v-model="confirmPassword">
        </div>
        <div class="sixteen wide column">
          <div class="inline field ui basic message acceptTerms-msg">
            <input id="acceptTerms" type="checkbox" v-model="acceptTerms">
            <label for="acceptTerms"> 
              {{$t('I accept the')}} <router-link to="/terms">{{$t('terms of service')}} </router-link>
              {{$t('and')}} <router-link to="/privacy">{{$t('Privacy Policy')}}</router-link> 
            </label>
          </div>
          <br>
          <button class="ui primary button" :disabled="!everythingOK" type="submit">
            <i class="paper plane icon"></i>
            {{$t('Sign up')}}
          </button>
          <router-link :class="`ui ${$i18n.locale() === 'ar' ? 'left' : 'right'} floated basic button`" to="/login">
            <i class="sign in icon"></i>
            {{$t('Login')}}
          </router-link>
        </div>
      </div>
    </form>

  </div>
</template>
<script>
import {auth} from '../services'
import utils from '../utils'
import {EventBus} from '../main'
export default {
  name: 'signup',
  data () {
    return {
      fullName: '',
      firstName: '',
      middleName: '',
      lastName: '',
      birthday: '',
      password: '',
      confirmPassword: '',
      showPassword: false,
      showConfirmPassword: false,
      acceptTerms: false,
      theEmail: '',
      thePhone: '',
      gender: 'female',
      isMale: false
    }
  },
  methods: {
    genderChanged (e) {
      if (!e) {
        return
      }
      console.log('genderChanged', e.target.checked)
      this.gender = (e.target.checked) ? 'male' : 'female'
    },
    setNames (e) {
      console.log('setNames')
      if (!e) {
        return
      }
      let parts = this.fullName.split(' ')
      if (parts.length > 0) {
        this.firstName = parts[0]
      }
      if (parts.length > 2) {
        this.middleName = parts[1]
        this.lastName = parts[2]
      } else if (parts.length === 2) {
        this.lastName = parts[1]
        this.middleName = ''
      }
    },
    validEmail (email) {
      return utils.emailIsValid(email)
    },
    validPhone (phone) {
      return utils.phoneIsValid(phone)
    },
    registerUser (e) {
      e.preventDefault()
      let d = new Date(this.birthday)
      let user = {
        first_name: this.firstName,
        middle_name: this.middleName,
        last_name: this.lastName,
        birthday: d.toISOString(),
        email: this.email,
        phone: this.phone,
        password: this.password
      }
      console.log('registerUser', user)
      let self = this
      auth.Signup(user).then(resp => {
        console.log('auth.Signup response', resp)
        if (resp && resp.data && resp.data.token) {
          self.$store.dispatch('setToken', resp.data.token)
          EventBus.$emit('alertMessage', {text: 'Sign up successful', interval: 3000, type: 'positive'})
          EventBus.$emit('authenticated', {token: resp.data.token})
          self.$router.push(this.$route.query.next || '/')
        }
      }).catch(err => {
        console.log('alertMessages', err.response || err)
        console.log('auth.Signup error')
        let messages = []
        if (err.response && err.response.data && err.response.data.messages) {
          messages = err.response.data.messages
        } else if (err.response && err.response.data && err.response.data.msg) {
          messages.push(err.response.data)
        } else {
          messages.push(err.toString())
        }
        console.log('alertMessages', messages)
        if (err.toString().indexOf('Network Error') > -1) {
          self.$store.dispatch('setOnline', {online: false})
        }
        EventBus.$emit('alertMessages', {messages, interval: 3000, type: 'negative'})
      })
    },
    valid (email) {
      return utils.emailIsValid(email)
    }
  },
  computed: {
    passwordMatch () {
      return this.password === this.confirmPassword && !this.passwordTooShort
    },
    passwordTooShort () {
      return (this.password.length < 6)
    },
    everythingOK () {
      let acceptTerms = this.acceptTerms === true
      let passwordLong = this.passwordTooShort === false
      let passwordMatch = this.passwordMatch
      return (acceptTerms && passwordLong && passwordMatch)
    },
    email () {
      return this.validEmail(this.theEmail) ? this.theEmail : ''
    },
    phone () {
      return this.validPhone(this.thePhone) ? this.thePhone : ''
    }
  }
}
</script>
<style>
.signup {
  max-width: 40em;
  padding: 1em;
  box-shadow: 0 0 1em #000;
  overflow: hidden;
  border: 1px solid #fff;
}
.signup h1 {
  background-color: #00B5AD;
  margin: -0.4em;
  margin-bottom: 1em;
  padding: 0.5em;
  text-align: center;
}
.help-text {
  font-size: 0.8em;
  color: #00B5AD;
  font-weight: bold;
}
.acceptTerms-msg {
  font-size: 0.9em !important;
}
.selected-gender label.text-label {
  border-bottom-width: 0.2em;
  border-bottom-color: #fff;
  border-bottom-style: solid;
}
.selected-gender label.text-label.active {
  border-bottom-color: #2185d0;
}
</style>
