<template>
  <div class="terms-wrapper">
    <h3>{{$t('Terms of Service ("Terms")')}}</h3>
    <p>{{$t('last updated')}} 26/07/2018</p>
    <p>{{$t('Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the http://www.qaado.com website and the Shimbir mobile application (the "Service") operated by Bolow Tech Solutions ("us", "we", or "our").')}}</p>
    <p>{{$t('Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.')}}</p>
    <p>
      <strong>{{$t('By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.')}}</strong>
    </p>

    <h4>{{$t('Termination')}}</h4>
    <p>{{$t('We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.')}}</p>
    <!-- <p>{{$t('All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.')}}</p> -->

    <h4>{{$t('Charges and payments')}}</h4>
    <p>{{$t('This service is not free, passengers pay driver charges and service by our application. Prices include both these charges and any passenger who does not pay or brings problem paying the driver will face termination and future ban from all services provided by us.')}}</p>
    <p>{{$t('Drivers are charged 10% of the total amount for the distance of the trip, the charge is in holding until trip destination is reached or the passenger cancels the trip before pickup.')}}</p>

    <h4>{{$t('Content')}}</h4>
    <p>{{$t('Our Service allows you to request driver as a passenger,  or accept trips as driver, each one of the driver and the passenger(s) are responsible for their actions. If you have complaints about driver or passenger submit it on their review page which is shown after the trip is ended.')}}</p>

    <h4>{{$t('Links To Other Web Sites')}}</h4>
    <p>{{$t('Our Service may contain links to third-party web sites or services that are not owned or controlled by Shimbir.')}}</p>
    <p>{{$t('Shimbir has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Shimbir shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.')}}</p>

    <h4>{{$t('Changes')}}</h4>
    <p>{{$t('We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days\' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.')}}</p>

    <h4>{{$t('Translations')}}</h4>
    <p>{{$t('If the translations of these terms do not match or have different meanings the English version prevails')}}</p>

    <h4>{{$t('Contact Us')}}</h4>
    <p>{{$t('If you have any questions about these Terms, please contact us.')}}</p>
    
  </div>
</template>
<script>
export default {
  name: 'terms'
}
</script>
