<template>
  <div class="wallet-wrapper">
    <h4>{{$t('QPay Wallets')}}</h4>
    <div class="ui very relaxed celled list">
      <div class="item" v-for="wallet in wallets" :key="wallet.id">
        <div class="right floated content">
          <div :class="`ui ${wallet.balance > 0 ? 'green' : 'red'} large label`">{{$t('{amount} {currency}', {amount: (wallet.balance).toFixed(2), currency: wallet.currency.symbol})}}</div>
        </div>
        <div class="content">
          <div class="header">{{$t('{name} wallet', {name: wallet.currency.name})}}</div>
          <div class="description">{{$t('Last updated')}} {{wallet.updated_at}}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'wallet',
  data () {
    return {}
  },
  methods: {
  },
  computed: {
    wallets () {
      return this.$store.getters.getWallets
    }
  }
}
</script>
