<template>
    <div class="ui bottom fixed borderless pointing menu">
      <router-link v-if="$store.getters.getIsAuthenticated" :class="`ui ${$route.name === 'wallet' ? 'active' : ''} item`" to="/wallet">
        <div v-for="wallet in wallets" :key="wallet.id" :class="`ui ${wallet.balance > 0 ? 'green' : 'red'} small label`">{{$t('{amount} {currency}', {amount: (wallet.balance).toFixed(2), currency: wallet.currency.symbol})}}</div>
      </router-link>
      <div v-if="$store.getters.getIsAuthenticated" class="ui item">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="payment-method" :checked="mode === 'QPay'" @change="modeChanged">
          <label>{{$t(mode)}}</label>
        </div>
      </div>
      <div class="right menu">
        <div class="ui item">
          {{$t('API:')}} <div :class="`ui ${$store.getters.getIsOnline ? 'green' : 'red'} small label`">{{$store.getters.getIsOnline ? 'ONLINE' : 'OFFLINE'}}</div>
        </div>
        <router-link v-if="$store.getters.getIsAuthenticated" :class="`ui ${$route.name === 'settings' ? 'active' : ''} item`" to="/settings">
          <i class="cog icon"></i>
        </router-link>
      </div>
    </div>
</template>

<script>
import {EventBus} from '../main'
export default {
  name: 'bottombar',
  data () {
    return {
      mode: 'cash'
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('clearAll')
      localStorage.setItem('user_token', null)
    },
    setLang (lang) {
      if (lang && lang.length === 2) {
        this.$i18n.set(lang)
        localStorage.setItem('lang', lang)
      }
    },
    modeChanged (e) {
      console.log('modeChanged', e.target.checked)
      if (e.target.checked === true && this.balance !== 0) {
        e.target.checked = false
        this.$store.commit('setIsWalletMode', false)
        this.mode = 'cash'
        EventBus.$emit('alertMessage', {text: 'No balance in your wallet', interval: 3000, type: 'negative'})
        return
      }
      this.$store.commit('setIsWalletMode', e.target.checked)
      this.mode = (e.target.checked) ? 'QPay' : 'cash'
    }
  },
  computed: {
    wallets () {
      return this.$store.getters.getWallets
    },
    walletMode () {
      return this.$store.getters.getIsWalletMode
    },
    balance () {
      return this.$store.getters.getMaxBalance
    }
  }
}
</script>

