<template>
  <div class="driver-form-wrapper">
    <h4>{{$t('Welcome driver')}}</h4>
    <trip-requests></trip-requests>
    <hr>
    <map-item :tripMarkers="tripMarkers"></map-item>
  </div>
</template>
<script>
import Map from '../components/Map.vue'
import TripRequests from '../components/TripRequests.vue'
import {EventBus} from '../main'
import {vehicle} from '../services'
export default {
  name: 'driver-form',
  components: {
    'map-item': Map,
    'trip-requests': TripRequests
  },
  data () {
    return {
      vehicles: [],
      markers: []
    }
  },
  methods: {
    resetMarkers () {
      console.log('resetMarkers')
      this.markers.length = 0
      for (var i = 0; i < this.tripRequests.length; i++) {
        let marker = {
          lat: this.tripRequests[i].start_location.lat,
          long: this.tripRequests[i].start_location.long,
          title: this.tripRequests[i].start_location.address.FormattedAddress,
          description: this.$t('User requested {vehicle} to take to {distance}km trip', {
            vehicle: this.tripRequests[i].vehicle_type,
            distance: this.tripRequests[i].distance
          })
        }
        this.markers.push(marker)
      }
    },
    getVehicles () {
      vehicle.GetVehicles().then(resp => {
        console.log('vehicle.GetVehicles response', resp)
      }).catch(err => {
        console.log('vehicle.GetVehicles error', err.response || err.toString())
        if (err.toString().indexOf('Network Error') > -1) {
          self.$store.dispatch('setOnline', {online: false})
        }
      })
    }
  },
  computed: {
    tripMarkers () {
      return this.markers
    },
    tripRequests () {
      return this.$store.getters.tripRequests
    }
  },
  beforeMount () {
    if (!this.$store.getters.getIsAuthenticated) {
      this.$router.push({path: '/login', query: this.$route.query})
      return
    }
    this.getVehicles()
    let self = this
    EventBus.$on('rideRequestMessage', eventData => {
      console.log('rideRequestMessage', eventData)
      setTimeout(() => {
        self.resetMarkers()
      }, 1000)
    })
    EventBus.$on('SSEReceived', msg => {
      setTimeout(() => {
        self.resetMarkers()
      }, 500)
    })
  }
}
</script>
