<template>
  <div class="map-wrapper">
    <div v-if="errMessage !== ''" class="ui negative message">
      {{$t(errMessage)}}
    </div>
    <div v-show="ready" id="mapItem" ref="mapItem"></div>
    <div v-show="!ready && !failed" class="ui segment loading-wrapper">
      <div class="ui active dimmer">
        <div class="ui loader"></div>
      </div>
    </div>
  </div>
</template>

<script>
import {location} from '../services'
import {EventBus} from '../main'

export default {
  name: 'map-item',
  props: {
    zoom: {
      type: Number,
      default: 16
    },
    iconType: {
      type: String,
      default: 'current' // start, end, current
    },
    initialCenter: {
      type: Object,
      default: null
    },
    noCenterMarker: {
      type: Boolean,
      default: true
    },
    clickCallback: {
      type: Function,
      default: function (location) {
        console.log('clickCallback', location)
      }
    },
    tripMarkers: {
      type: Array,
      default: null
    }
  },
  data () {
    return {
      Instance: null,
      Wait: 0,
      Markers: [],
      currentLocation: null,
      errMessage: '',
      ready: false,
      failed: false,
      icons: {
        current: 'http://maps.google.com/mapfiles/kml/paddle/grn-blank.png',
        start: 'http://maps.google.com/mapfiles/kml/paddle/go.png',
        end: 'http://maps.google.com/mapfiles/kml/paddle/stop.png'
      },
      retryCount: 0
    }
  },
  methods: {
    addTripMarkers () {
      console.log('addTripMarkers', this.tripMarkers)
      if (this.tripMarkers === null) {
        return
      }
      let icon = 'http://maps.google.com/mapfiles/kml/pushpin/grn-pushpin.png'
      for (var i = 0; i < this.tripMarkers.length; i++) {
        let lat = this.tripMarkers[i].lat
        let long = this.tripMarkers[i].long
        this.addMarker({lat, long}, {readOnly: true, title: this.tripMarkers[i].title, description: this.tripMarkers[i].description, icon})
      }
    },
    resetNearbyDistricts (location) {
      console.log('resetNearbyDistricts', location)
      EventBus.$emit('resetNearbyDistricts', {location})
    },
    InitMap () {
      clearInterval(this.Wait)
      console.log('InitMap', {gmap: typeof window.google, count: this.retryCount})
      clearInterval(this.Wait)
      let element = this.$refs.mapItem
      console.log('element', typeof element)
      if (typeof element === 'undefined' || typeof window.google === 'undefined') {
        this.tryAgain(1)
        return
      }
      let isCurrent = false
      let lat = null
      let long = null
      // let minLat = null
      // let minLong = null
      // let maxLat = null
      // let maxLong = null
      if (this.initialCenter === null && this.currentLocation === null) {
        console.log('both center not available', {initialCenter: this.initialCenter, currentLocation: this.currentLocation})
        this.tryAgain(2)
      } else if (this.initialCenter !== null) {
        console.log('initial center not available', {initialCenter: this.initialCenter})
        lat = this.initialCenter.lat
        long = this.initialCenter.long
      } else if (this.currentLocation !== null) {
        console.log('current location not available', {currentLocation: this.currentLocation})
        lat = this.currentLocation.lat
        long = this.currentLocation.long
        isCurrent = true
      } else {
        console.log('still not available', {initialCenter: this.initialCenter, currentLocation: this.currentLocation})
        this.errMessage = 'Location service is not available'
        this.tryAgain(1)
        return
      }
      console.log('options:', {lat, long})
      if (lat === null || long === null) {
        this.tryAgain(1)
        return
      } else {
        this.ready = true
      }
      let options = {
        zoom: this.zoom,
        center: new window.google.maps.LatLng(lat, long)
      }
      console.log(options)
      this.Instance = new window.google.maps.Map(element, options)
      clearInterval(this.Wait)
      let self = this
      // window.google.maps.event.addListener(this.Instance, 'zoom_changed', function (e) {
      //   console.log('zoom_changed')
      //   let minSize = 8
      //   let maxSize = 350
      //   let zoom = self.Instance.getZoom()
      //   let relateiveSize = Math.round(minSize * Math.pow(2, zoom))
      //   if (relateiveSize > maxSize) {
      //     relateiveSize = maxSize
      //   }
      //   for (var i = 0; i < self.Markers.length; i++) {
      //     console.log('icon', self.Markers[i].icon)
      //     self.Markers[i].setIcon(
      //       new window.google.maps.MarkerImage(
      //         self.Markers[i].icon,
      //         null,
      //         null,
      //         null,
      //         new window.google.maps.Size(relateiveSize, relateiveSize)
      //       )
      //     )
      //   }
      // })
      window.google.maps.event.addListener(this.Instance, 'click', function (e) {
        let coords = e.latLng
        self.addMarker({lat: coords.lat(), long: coords.lng()})
        self.clickCallback({lat: coords.lat(), long: coords.lng()})
      })
      console.log('noCenterMarker', self.noCenterMarker)
      if (self.noCenterMarker !== true) {
        self.clickCallback({lat, long})
        this.addMarker({lat, long}, {title: 'Current location', description: `You are currently in (${lat}, ${long})`, readOnly: true, isCurrent})
      }
    },
    tryAgain (afterSeconds) {
      if (typeof afterSeconds !== 'number') {
        afterSeconds = 1
      }
      this.retryCount++
      if (this.retryCount > 15) {
        this.errMessage = 'Map loading timeout'
        clearInterval(this.Wait)
        this.$store.dispatch('isLoading', {enable: false, msg: 'Loading...'})
        this.failed = true
        return
      }
      this.ready = false
      this.Wait = setTimeout(() => {
        this.InitMap()
      }, afterSeconds * 1000)
    },
    getCurrentLocation () {
      console.log('getCurrentLocation', this.$store.getters.isMogadishu)
      let self = this
      if (this.$store.getters.isMogadishu) {
        let location = self.$store.getters.getMogadishu
        self.currentLocation = location
        self.forceMapShowing = true
        let addressParts = String(location.address.FormattedAddress).split(',') || ['', '']
        let street = location.address.Street ? location.address.Street : (addressParts[0] || '')

        self.startPlace = `${location.address.name ? location.address.name + ', ' : ''} ${street}, ${location.address.City || location.address.Suburb}`
        self.resetNearbyDistricts(self.currentLocation)
        self.$store.dispatch('isLoading', {enable: false, msg: 'Loading...'})
        return
      }
      location.getCurrentCoordinates().then(resp => {
        console.log('location.getCurrentCoordinates response', resp)
        self.$store.dispatch('isLoading', {enable: false, msg: 'Loading...'})
        self.currentLocation = resp
      }).catch(err => {
        console.log('location.getCurrentCoordinates error', err)
        self.errMessage = err.toString()
        if (err.toString().indexOf('Network Error') > -1) {
          self.$store.dispatch('setOnline', {online: false})
        }
      })
    },
    addMarker (coords, more) {
      let lat = null
      let long = null
      if (!coords) {
        return
      } else {
        lat = typeof coords.lat === 'function' ? coords.lat() : coords.lat
        long = typeof coords.long === 'function' ? coords.long() : coords.long
      }
      if (!lat || !long) {
        console.log('not valid coordinates', coords)
        return
      }
      let options = {
        position: new window.google.maps.LatLng(lat, long),
        map: this.Instance
      }
      let len = this.Markers.length
      while (len) {
        len--
        console.log(`remove marker? ${!this.Markers[len].readOnly}`, this.Markers[len])
        if (this.Markers[len].readOnly) {
          continue
        }
        this.Markers.pop().setMap(null)
      }
      let iconUrl = ''
      if (more && more.icon) {
        iconUrl = more.icon
      } else if (more && more.isCurrent) {
        iconUrl = this.icons['current']
      } else {
        iconUrl = this.icons[this.iconType]
      }
      console.log('marker options', options)
      var marker = new window.google.maps.Marker(options)
      marker.setIcon(new window.google.maps.MarkerImage(
        iconUrl,
        null,
        null,
        null,
        new window.google.maps.Size(32, 32)
      ))
      if (more && more.readOnly) {
        marker.readOnly = true
      }
      this.Markers.push(marker)
      let text = ''
      if (more && more.title) {
        let title = more.title || `(${lat}, ${long})`
        text += `<h4>${title}</h4>`
      }
      if (more && more.description) {
        text += `<p>${more.description}</p>`
      }
      let infoWorld = new window.google.maps.InfoWindow({content: text})
      let self = this
      marker.addListener('click', function () {
        infoWorld.open(self.Instance, marker)
      })
    }
  },
  beforeMount () {
    this.getCurrentLocation()
    this.InitMap()
    let self = this
    EventBus.$on('SSEReceived', msg => {
      setTimeout(() => {
        self.addTripMarkers()
      }, 750)
    })
  },
  beforeDestroy () {
    clearInterval(this.Wait)
  },
  destroyed () {
    clearInterval(this.Wait)
  }
}
</script>
<style>
#mapItem, .loading-wrapper {
  min-height: 30em;
  box-shadow: 0 0 1em #aaaaaa;
  border: 1px solid #2185d0;
}
</style>
