<template>
  <div class="sidebar-wrapper">
    <div v-if="$store.getters.getIsAuthenticated">
      <h5>{{$t('Welcome, {name}', {name: $store.getters.getProfile.first_name || $store.getters.getProfile.last_name})}}</h5>
      
      <div class="fluid ui vertical menu">
        <div class="item">
          <div class="ui input"><input type="text" placeholder="Search..."></div>
        </div>
        <router-link class="item" to="/history">
          <i class="clock outline icon"></i> {{$t('History')}}
        </router-link>
        <router-link class="item" to="/profile">
          <i class="user icon"></i> {{$store.getters.getProfile.first_name + ' ' + $store.getters.getProfile.last_name}}
        </router-link>
        
        <div class="item">
          <div class="menu">
            <a :class="`${$i18n.locale() === 'so' ? 'active ' : ''}item`" @click="setLang('so')">Somali</a>
            <a :class="`${$i18n.locale() === 'ar' ? 'active ' : ''}item`" @click="setLang('ar')">العربية</a>
            <a :class="`${$i18n.locale() === 'en' ? 'active ' : ''}item`" @click="setLang('en')">English</a>
          </div>
        </div>
      </div>

    </div>
    <div v-else>
      <h5>{{$t('Please login')}} <router-link to="/login">{{$t('here')}}</router-link> </h5>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sidebar',
  data () {
    return {
    }
  },
  methods: {
    setLang (lang) {
      if (lang && lang.length === 2) {
        this.$i18n.set(lang)
        localStorage.setItem('lang', lang)
      }
    }
  },
  beforeMount () {
  }
}
</script>
<style>
.sidebar-wrapper {
  padding: 0.3em;
}
</style>

