<template>
    <div class="ui secondary labeled icon pointing menu">
      <router-link :class="`ui ${$route.name === 'home' ? 'active' : ''} item`" to="/">
        <i class="home icon"></i>
        {{$t('Home')}}
      </router-link> 
      <!-- <a class="item">
        Messages
      </a>
      <a class="item">
        Friends
      </a> -->
      <div :class="`${$i18n.locale() === 'ar' ? 'left' : 'right'} menu languages-menu ${$store.getters.isLoading.enabled ? 'isLoading' : ''}`">
        <div class="item lang" v-if="$i18n.locale() !== 'so'" @click="setLang('so')">
          <i class="so flag"></i> Somali
        </div>
        <div class="item lang" v-if="$i18n.locale() !== 'ar'" @click="setLang('ar')">
          <i class="sa flag"></i> العربية
        </div>
        <div class="item lang" v-if="$i18n.locale() !== 'en'" @click="setLang('en')">
          <i class="us flag"></i> English
        </div>
        <router-link :class="`ui ${$route.name === 'login' ? 'active' : ''} item`" to="/login" v-if="!$store.getters.getIsAuthenticated">
          <i class="sign in alternate teal icon"></i>
          {{$t('Login')}}
        </router-link>
        <a v-else href="#" class="ui item" @click="logout">
          <i class="sign out alternate red icon"></i>
          {{$t('Logout')}}
        </a>
        <router-link  v-if="$store.getters.getIsAuthenticated" :class="`ui ${$route.name === 'profile' ? 'active' : ''} item`" to="/profile">
          <i class="circle user icon"></i>
          {{$store.getters.getProfile.first_name || $t('Profile')}}
        </router-link>
      </div>
    </div>
</template>

<script>
export default {
  name: 'topbar',
  methods: {
    logout () {
      this.$store.dispatch('clearAll')
      localStorage.setItem('user_token', null)
      this.$router.push('/login')
    },
    setLang (lang) {
      if (lang && lang.length === 2) {
        this.$i18n.set(lang)
        localStorage.setItem('lang', lang)
      }
    }
  }
}
</script>
<style>
.languages-menu .item.lang {
  z-index: 10000;
  margin-bottom: 1px solid #444 !important;
  margin-bottom: 0.4em !important;
}
.languages-menu.isLoading .item.lang {
  color: #ffffff;
}
</style>

