<template>
  <div class="trip-requests-wrapper">
    <div v-if="requests && requests.length > 0" class="ui list">
      <div v-for="request in requests" :key="request.trip_id" class="item">
        <img class="ui avatar image" :src="`${getIconbyVehicleType(request.vehicle_type)}`">
        <div class="content">
          <div class="ui right floated mini label">{{$t('Accept')}}</div>
          <a class="header">{{$t('{distance}km trip for {currency} {price}', {distance: (request.distance).toFixed(2), price: (request.price).toFixed(2), currency: (request.currency || '$')})}}</a>
          <div class="description">{{$t('passenger is in {address}', request.start_location.address.FormattedAddress || `(${request.start_location.lat}, ${request.start_location.long})`)}}</div>
        </div>
      </div>
    </div>
    <div class="ui basic message" v-else>
      {{$t('No requested found yet')}}
    </div>
  </div>
</template>
<script>
// import {EventBus} from '../main'
export default {
  name: 'trip-requests',
  data () {
    return {
      icons: {
        'motorcycle': 'dist/img/vehicles/Motorcycle.png',
        'bajaj': 'dist/img/vehicles/AutoRickshaw.jpg',
        'mini_bus': 'dist/img/vehicles/Minibus.png',
        'family_size': 'dist/img/vehicles/Minivan.png',
        'normal_car': 'dist/img/vehicles/Saloon.png',
        'bus': 'dist/img/vehicles/bus.jpg'
      }
    }
  },
  methods: {
    getIconbyVehicleType (type) {
      return this.icons[type]
    }
  },
  computed: {
    requests () {
      return this.$store.getters.tripRequests
    }
  },
  beforeMount () {
    if (!this.$store.getters.getIsAuthenticated) {
      this.$router.push({path: '/login', query: this.$route.query})
      return
    }
    console.log('beforeMount')
  }
}
</script>
