<template>
  <div class="trip-form-wrapper">
    <form v-if="$store.getters.getIsAuthenticated" class="ui form">
      <div class="field ui segment">
        <label for="startPoint">
          <img class="ui right spaced avatar image" src="http://maps.google.com/mapfiles/kml/paddle/go.png">
          {{$t(autoCurrentLocation ? 'You are in' : 'From:')}}<strong>{{startPlace ? ' ' + startPlace : '...'}}</strong>
        </label>
        <div v-if="!autoCurrentLocation">
          <input v-if="startFormType === 'form'" type="text" name="startPoint" id="startPoint" autocomplete="off" v-model="startPlace" @input="firstInputChanged">
          <div v-if="startFormType === 'form' && showStartSuggestions && startPlaceSuggestions && startPlaceSuggestions.length > 0" class="suggestions-wrapper first-input">
            <div class="ui celled compact list">
              <div class="item" v-for="(item, i) in startPlaceSuggestions" :key="i" @click="select(item, 'start')">
                <strong>{{item.properties.osm_value}}:</strong> {{item.properties.street ? item.properties.street : item.properties.name}} {{item.properties.city}}, {{item.properties.country}}
              </div>
            </div>
          </div>
          <map-item v-if="startFormType === 'map' && showStartMap" :clickCallback="firstMapClicked" :initialCenter="startLocation.lat ? startLocation : null"  :noCenterMarker="false" iconType="start"></map-item>
          <div class="ui fluid primary button" @click="toggleInput('start')">{{$t(startFormType === 'form' ? 'Select on Map' : 'Use text input')}}</div>
        </div>
        <div class="ui fluid primary button" @click="toggleAutoCurrentLocation">{{$t(autoCurrentLocation ? 'Choose different location' : 'Use current location')}}</div>
      </div>
      
      <div class="field ui segment">
        <label for="endPoint">
          <img class="ui right spaced avatar image" src="http://maps.google.com/mapfiles/kml/paddle/stop.png">
          {{$t('I am going to')}}{{endPlace ? ': ' + endPlace : '...'}}
        </label>
        <input v-if="endFormType === 'form'" type="text" name="endPoint" id="endPoint" v-model="endPlace" @input="endInputChanged">
        <div v-if="endFormType === 'form' && showEndSuggestions && endPlaceSuggestions && endPlaceSuggestions.length > 0" class="suggestions-wrapper end-input">
          <div class="ui celled compact list">
            <div class="item" v-for="(item, i) in endPlaceSuggestions" :key="i" @click="select(item, 'end')">
              <strong>{{item.properties.osm_value}}:</strong> {{item.properties.street ? item.properties.street : item.properties.name}} {{item.properties.city}}, {{item.properties.country}}
            </div>
          </div>
        </div>
        <map-item v-if="endFormType === 'map' && showEndMap" :initialCenter="endLocation.lat ? endLocation : null" :clickCallback="endMapClicked" iconType="end"></map-item>
        <div v-if="showEndMap" class="ui fluid primary button" @click="toggleInput('end')">{{$t(endFormType === 'form' ? 'Select on Map' : 'Use text input')}}</div>
        <div v-else class="ui fluid primary button" @click="showEndMap = !showEndMap">{{$t(!showEndMap ? 'Show map' : 'Hide map')}}</div>
      </div>

      <div class="field ui segment" v-if="distance">
        <a class="ui green tag label">{{$t('Distance')}}: {{Number(distance).toFixed(1)}} {{$t('km')}}</a>
        <a v-if="price - discount" class="ui red tag label">{{$t('Price')}}: {{$t('{price} {currency}', {price: (price - discount).toFixed(2), currency: $t(currency)})}}</a>
        <a v-if="discount" class="ui teal tag label">{{$t('Discount')}}: {{discount}}</a>
      </div>
      <div class="field ui segment">
        <!-- <div class="ui teal right ribbon label" v-if="price > 0">
          {{$t('{price}{currency}', {price: (price - discount).toFixed(2), currency})}}
        </div> -->
        
        <vehicle-selection :selectCallback="vehicleSelected"></vehicle-selection>
      </div>
      <div :class="`ui fluid primary ${everythingReady ? '' : 'disabled'} button`" @click="showConfirmation()">
        {{$t('Request')}} {{$t(selectedVehicle.name)}}
      </div>
    </form>
    <div v-else class="ui negative message">
      {{$t('To access this feature you need to')}} <router-link :to="{path: '/login', query: $route.query}">{{$t('Login')}}</router-link>
    </div>
  </div>
</template>
<script>
import {location, autocomplete, trip, notification} from '../services'
import Map from '../components/Map.vue'
import VehicleSelection from './VehicleSelection.vue'
import {EventBus} from '../main'

export default {
  name: 'trip-form',
  data () {
    return {
      startPlace: '',
      startLocation: {},
      endPlace: '',
      endLocation: {},
      waitingFirstInput: 0,
      waitingSecondInput: 0,
      startPlaceSuggestions: [],
      endPlaceSuggestions: [],
      showStartSuggestions: false,
      showEndSuggestions: false,
      startFormType: 'map',
      endFormType: 'map',
      autoCurrentLocation: true,
      showStartMap: true,
      showEndMap: true,
      selectedVehicle: {},
      distance: 0,
      unit: '',
      forceMapShowing: false,
      currentTrip: {}
    }
  },
  computed: {
    mogadishu () {
      return this.$store.getters.getMogadishu
    },
    nearbyDistricts () {
      let names = []
      for (var i = 0; i < this.$store.getters.getNearbyDistricts.length; i++) {
        names.push(this.$store.getters.getNearbyDistricts[i].name)
      }
      return names
    },
    everythingReady () {
      return this.startLocation && typeof this.startLocation.lat === 'number' && this.endLocation && typeof this.endLocation.lat === 'number' &&
        this.selectedVehicle && this.selectedVehicle.hasOwnProperty('type')
    },
    price () {
      let rate = this.getPerKMRate(this.selectedVehicle.min_km_price || 0.5)
      console.log(`rate per km: ${rate} * km: ${this.kilometers}`)
      let price = rate * this.kilometers
      console.log('price: ', {price, service: (price * 0.1)})
      return price + (price * 0.1)
    },
    serviceAmount () {
      return parseFloat(this.price) * 0.1
    },
    kilometers () {
      return parseFloat(this.unit === 'meter' ? this.distance / 1000 : this.distance)
    },
    discount () {
      // each 5 km has 5% discount
      if (this.kilometers < 5) {
        return 0
      }
      let fives = Math.floor(this.kilometers / 5)
      let discount = 0
      for (let i = 0; i < fives; i++) {
        discount += (this.selectedVehicle.min_km_price * 5 * 0.05)
      }
      return discount
    },
    currency () {
      return this.$store.getters.getCurrencySymbol
    }
  },
  methods: {
    showConfirmation () {
      console.log('showConfirmation NOT IMPLEMENTED YET')
      let title = 'Confirm trip booking'
      let question = 'You are booking a trip from "{start}" to "{end}". It will cost {amount}{currency} for approx. {distance} km, Are you sure to proceed?'
      let self = this
      let noHandler = function () {
        console.log('noHandler callback')
        self.$store.dispatch('setShowPopup', false)
        return true
      }
      let yesHandler = function () {
        self.requestVehicle()
      }
      let extras = {
        start: this.startPlace,
        end: this.endPlace,
        amount: Number(this.price - this.discount).toFixed(2),
        currency: this.currency,
        distance: parseFloat(this.kilometers).toFixed(1)
      }
      EventBus.$emit('showPopup', {content: {title, question, extras}, noHandler, yesHandler})
    },
    getPerKMRate (rate) {
      console.log('getPerKMRate', rate)
      return rate + (rate * 0.1)
    },
    calculateDistance () {
      console.log('calculateDistance')
      if (typeof this.startLocation.lat !== 'number' || typeof this.endLocation.lat !== 'number') {
        return
      }
      let self = this
      location.CalculateDistance(this.startLocation, this.endLocation).then(resp => {
        console.log('location.CalculateDistance response', resp)
        if (resp && resp.data && typeof resp.data.distance === 'number') {
          if (resp.data.distance < 1000) {
            self.distance = Number(resp.data.distance).toFixed(2)
            self.unit = resp.data.unit
          } else {
            self.distance = Number(resp.data.distance / 1000).toFixed(2)
            self.unit = 'km'
          }
        }
      }).catch(err => {
        console.log('location.CalculateDistance error', err.response || err)
        if (err.toString().indexOf('Network Error') > -1) {
          self.$store.dispatch('setOnline', {online: false})
        }
      })
    },
    requestVehicle (e) {
      if (e) {
        e.preventDefault()
      }
      console.log('requestVehicle', e)
      let self = this
      if (self.currentTrip && String(self.currentTrip.id).length === 24) {
        // update the currentTrip
        trip.UpdateTrip(self.currentTrip.id, self.startLocation, self.endLocation, parseFloat(self.distance), parseFloat(self.price), self.currency, self.serviceAmount).then(resp => {
          console.log('trip.AddTrip response', resp)
          if (resp && resp.data && resp.data.trip) {
            notification.NotifyNearbyDrivers(
              resp.data.trip.id,
              self.nearbyDistricts,
              parseFloat(self.price),
              parseFloat(self.distance),
              self.selectedVehicle.type
            ).then(resp2 => {
              console.log('notification.NotifyNearbyDrivers response', resp2)
              if (resp2 && resp2.data && resp2.data.responseChannel) {
                EventBus.$emit('subscribeSSE', {channel: resp2.data.responseChannel})
                self.$store.dispatch('setShowPopup', false)
                self.$store.dispatch('isLoading', {
                  enable: true,
                  onCancel: function () {
                    self.$store.dispatch('isLoading', {enable: false, msg: ''})
                    trip.CancelTrip(resp.data.trip.id).then(resp3 => {
                      console.log('trip.CancelTrip response', resp3)
                      EventBus.$emit('alertMessage', {text: 'Trip canceled successfully', interval: 3000, type: 'positive'})
                    }).catch(err3 => {
                      console.log('trip.CancelTrip error', err3.response || err3.toString())
                      EventBus.$emit('alertMessage', {text: 'Trip cancel failed', interval: 3000, type: 'negative'})
                    })
                  },
                  msg: 'Looking for driver in {nearby}',
                  extras: {nearby: self.nearbyDistricts.join(', ')}
                })
              }
            }).catch(err2 => {
              console.log('notification.NotifyNearbyDrivers error', err2.response || err2.toString())
            })
          }
        }).catch(err => {
          console.log('trip.AddTrip error', err.response || err.toString())
          if (err.toString().indexOf('Network Error') > -1) {
            self.$store.dispatch('setOnline', {online: false})
          }
        })
        return
      }
      trip.AddTrip(self.startLocation, self.endLocation, parseFloat(self.distance), parseFloat(self.price), self.currency, self.serviceAmount).then(resp => {
        console.log('trip.AddTrip response', resp)
        if (resp && resp.data && resp.data.trip) {
          self.currentTrip = resp.data.trip
          notification.NotifyNearbyDrivers(
            resp.data.trip.id,
            self.nearbyDistricts,
            parseFloat(self.price),
            parseFloat(self.distance),
            self.selectedVehicle.type
          ).then(resp2 => {
            console.log('notification.NotifyNearbyDrivers response', resp2)
            if (resp2 && resp2.data && resp2.data.responseChannel) {
              EventBus.$emit('subscribeSSE', {channel: resp2.data.responseChannel})
              self.$store.dispatch('setShowPopup', false)
              self.$store.dispatch('isLoading', {
                enable: true,
                onCancel: function () {
                  self.$store.dispatch('isLoading', {enable: false, msg: ''})
                  trip.CancelTrip(resp.data.trip.id).then(resp3 => {
                    console.log('trip.CancelTrip response', resp3)
                    EventBus.$emit('alertMessage', {text: 'Trip canceled successfully', interval: 3000, type: 'positive'})
                  }).catch(err3 => {
                    console.log('trip.CancelTrip error', err3.response || err3.toString())
                    EventBus.$emit('alertMessage', {text: 'Trip cancel failed', interval: 3000, type: 'negative'})
                  })
                },
                msg: 'Looking for driver in {nearby}',
                extras: {nearby: self.nearbyDistricts.join(', ')}
              })
            }
          }).catch(err2 => {
            console.log('notification.NotifyNearbyDrivers error', err2.response || err2.toString())
          })
        }
      }).catch(err => {
        console.log('trip.AddTrip error', err.response || err.toString())
        if (err.toString().indexOf('Network Error') > -1) {
          self.$store.dispatch('setOnline', {online: false})
        }
      })
    },
    vehicleSelected (vehicle) {
      this.selectedVehicle = vehicle
    },
    toggleAutoCurrentLocation () {
      if (this.autoCurrentLocation) {
        this.autoCurrentLocation = false
      } else {
        this.autoCurrentLocation = true
        this.selectCurrentLocationAsStart()
      }
    },
    firstMapClicked (position) {
      this.mapClicked(position, 'start')
    },
    endMapClicked (position) {
      this.mapClicked(position, 'end')
    },
    mapClicked (position, type) {
      console.log('mapClicked', {position, type})
      let self = this
      if (type === 'start') {
        clearInterval(this.waitingFirstInput)
        this.waitingFirstInput = setTimeout(() => {
          location.ReverseGeocode(position).then(resp => {
            console.log('location.ReverseGeocode response', resp)
            if (resp.data && resp.data.location && resp.data.location.address) {
              let location = resp.data.location
              self.startLocation = location
              let addressParts = String(location.address.FormattedAddress).split(',') || ['', '']
              let street = location.address.Street ? location.address.Street : (addressParts[0] || '')

              let splace = self.startPlace
              self.startPlace = `${street}, ${location.address.City || location.address.Suburb}`
              if (splace !== self.startPlace) {
                self.resetNearbyDistricts(self.startLocation)
                if (!self.forceMapShowing) {
                  self.showStartMap = false
                }
                self.calculateDistance()
              }
            }
          }).catch(err => {
            console.log('location.ReverseGeocode error', err.response || err.toString())
            if (err.toString().indexOf('Network Error') > -1) {
              self.$store.dispatch('setOnline', {online: false})
            }
          })
        }, 1000)
      } else if (type === 'end') {
        clearInterval(this.waitingSecondInput)
        this.waitingSecondInput = setTimeout(() => {
          location.ReverseGeocode(position).then(resp => {
            console.log('location.ReverseGeocode response', resp)
            if (resp.data && resp.data.location && resp.data.location.address) {
              let location = resp.data.location
              self.endLocation = location
              let addressParts = String(location.address.FormattedAddress).split(',') || ['', '']
              let street = location.address.Street ? location.address.Street : (addressParts[0] || '')

              let eplace = self.endPlace
              self.endPlace = `${location.address.name ? location.address.name + ', ' : ''} ${street}, ${location.address.City || location.address.Suburb}`
              if (eplace !== self.endPlace) {
                // self.toggleInput('end')
                self.showEndMap = false
                self.calculateDistance()
              }
            }
          }).catch(err => {
            console.log('location.ReverseGeocode error', err.response || err.toString())
            if (err.toString().indexOf('Network Error') > -1) {
              self.$store.dispatch('setOnline', {online: false})
            }
          })
        }, 1000)
      }
    },
    resetNearbyDistricts (location) {
      console.log('resetNearbyDistricts', location)
      EventBus.$emit('resetNearbyDistricts', {location})
    },
    toggleInput (type) {
      if (type === 'start') {
        if (this.startFormType === 'form') {
          this.startFormType = 'map'
        } else {
          this.startFormType = 'form'
        }
      } else if (type === 'end') {
        if (this.endFormType === 'form') {
          this.endFormType = 'map'
        } else {
          this.endFormType = 'form'
        }
      }
      return false
    },
    select (position, type) {
      if (!position) {
        return
      }
      let location = {}
      if (position && position.geometry && position.geometry.coordinates && position.geometry.coordinates.length > 1) {
        console.log(JSON.parse(JSON.stringify(position)))
        location.long = position.geometry.coordinates[0]
        location.lat = position.geometry.coordinates[1]
        location.city = position.properties.city
        location.country = position.properties.country
        location.type = position.properties.osm_value
        location.postcode = position.properties.postcode
        location.name = position.properties.name
        if (type === 'start') {
          this.startPlace = `${location.city}, ${location.country}`
          clearInterval(this.waitingFirstInput)
          this.startLocation = location
          this.showStartSuggestions = false
        } else if (type === 'end') {
          this.endPlace = `${location.city}, ${location.country}`
          clearInterval(this.waitingSecondInput)
          this.endLocation = location
          this.showEndSuggestions = false
        }
      }
    },
    firstInputChanged (e) {
      clearInterval(this.waitingFirstInput)
      let self = this
      this.waitingFirstInput = setTimeout(() => {
        console.log('firstInputChanged', e.target.value)
        autocomplete.GetPlaceByQuery(e.target.value).then(resp => {
          console.log('autocomplete.GetPlaceByQuery response', resp)
          if (resp && resp.data && resp.data.features) {
            self.startPlaceSuggestions = resp.data.features
            self.showStartSuggestions = true
          }
        }).catch(err => {
          console.log('autocomplete.GetPlaceByQuery error', err.response || err.toString())
          if (err.toString().indexOf('Network Error') > -1) {
            self.$store.dispatch('setOnline', {online: false})
          }
        })
      }, 1000)
    },
    endInputChanged (e) {
      clearInterval(this.waitingFirstInput)
      let self = this
      this.waitingSecondInput = setTimeout(() => {
        console.log('endInputChanged', e.target.value)
        autocomplete.GetPlaceByQuery(e.target.value).then(resp => {
          console.log('autocomplete.GetPlaceByQuery response', resp)
          if (resp && resp.data && resp.data.features) {
            self.endPlaceSuggestions = resp.data.features
            self.showEndSuggestions = true
          }
        }).catch(err => {
          console.log('autocomplete.GetPlaceByQuery error', err.response || err.toString())
          if (err.toString().indexOf('Network Error') > -1) {
            self.$store.dispatch('setOnline', {online: false})
          }
        })
      }, 1000)
    },
    reverseGeocode (coords) {
      console.log('reverseGeocode', coords)
      location.ReverseGeocode(coords).then(resp => {
        console.log('location.ReverseGeocode response', resp)
      }).catch(err => {
        console.log('location.ReverseGeocode error', err.response || err.toString())
        if (err.toString().indexOf('Network Error') > -1) {
          self.$store.dispatch('setOnline', {online: false})
        }
      })
    },
    geocode (address) {
      console.log('geocode', address)
      location.Geocode(address).then(resp => {
        console.log('location.Geocode response', resp)
      }).catch(err => {
        console.log('location.Geocode error', err.response || err.toString())
        if (err.toString().indexOf('Network Error') > -1) {
          self.$store.dispatch('setOnline', {online: false})
        }
      })
    },
    selectCurrentLocationAsStart () {
      console.log('selectCurrentLocationAsStart')
      let self = this
      if (this.$store.getters.isMogadishu) {
        let location = self.mogadishu
        self.startLocation = location
        self.forceMapShowing = true
        let addressParts = String(location.address.FormattedAddress).split(',') || ['', '']
        let street = location.address.Street ? location.address.Street : (addressParts[0] || '')

        self.startPlace = `${location.address.name ? location.address.name + ', ' : ''} ${street}, ${location.address.Suburb || location.address.County}, ${location.address.City}`
        self.$store.dispatch('isLoading', {enable: false, msg: 'Loading...'})
        return
      }
      location.getCurrentCoordinates().then(position => {
        console.log('location.getCurrentCoordinates response', position)
        self.$store.dispatch('isLoading', {enable: false, msg: 'Loading...'})
        location.ReverseGeocode(position).then(resp => {
          console.log('location.ReverseGeocode response', resp)
          if (resp.data && resp.data.location && resp.data.location.address) {
            let location = resp.data.location
            self.startLocation = location
            self.forceMapShowing = true
            let addressParts = String(location.address.FormattedAddress).split(',') || ['', '']
            let street = location.address.Street ? location.address.Street : (addressParts[0] || '')

            self.startPlace = `${location.address.name ? location.address.name + ', ' : ''} ${street}, ${location.address.City || location.address.Suburb}`
            self.resetNearbyDistricts(self.startLocation)
          }
        }).catch(err => {
          console.log('location.ReverseGeocode error', err.response || err.toString())
          self.$store.dispatch('isLoading', {enable: false, msg: 'Loading...'})
        })
      }).catch(err => {
        console.log('location.getCurrentCoordinates error', err.response || err.toString())
        if (err.toString().indexOf('Network Error') > -1) {
          self.$store.dispatch('setOnline', {online: false})
        }
      })
    }
  },
  beforeMount () {
    if (this.autoCurrentLocation && this.$store.getters.getIsAuthenticated) {
      this.selectCurrentLocationAsStart()
    }
  },
  beforeDestroy () {
    console.log('beforeDestroy', this.$store.getters.showPopup)
    this.$store.dispatch('setShowPopup', false)
  },
  components: {
    'map-item': Map,
    'vehicle-selection': VehicleSelection
  }
}
</script>
<style>
.ui.form .fields.location-forms>.field:first-child,
.trip-form-wrapper .ui.form .fields .field {
  box-shadow: 0 0 0.1em #aaaaaa;
  padding: .3em;
}
.trip-form-wrapper .ui.form .fields .field .ui.button, .trip-form-wrapper .ui.form .fields .field .ui.button {
  margin-top: 0.5em !important;
}
</style>

