<template>
<div class="vehicle-selection-wrapper">
  <div v-if="$store.getters.getIsAuthenticated">
    <div v-if="hideSelection && selectedVehicle" class="ui comments">
      <div class="comment">
        <div :class="`ui right floated mini ${hideSelection ? 'primary' : 'basic'} button`" @click="hideSelection = !hideSelection">{{$t(hideSelection ? 'Show' : 'Hide')}}</div>
        <a class="avatar">
          <img :src="selectedVehicle.pic">
        </a>
        <div class="content">
        <a class="author">{{$t('You chose {vehicle}', {vehicle: selectedVehicleName})}}</a>
          <div class="metadata">
            <!-- <div class="date">2 days ago</div> -->
          </div>
          <div class="text">
            <i class="users icon"></i>
            {{$t('can carry up to {max_seats} people', {max_seats: selectedVehicle.max_seats})}}
          </div>
        </div>
      </div>
    </div>
    <h4 v-else class="selection-header">
      <div :class="`ui right floated mini ${hideSelection ? 'primary' : 'basic'} button`" @click="hideSelection = !hideSelection">{{$t(hideSelection ? 'Show' : 'Hide')}}</div>
      {{ hideSelection ? $t('I chose {vehicle}', {vehicle: selectedVehicleName}) : $t('Select vehicle')}}
    </h4>
    <div v-if="!hideSelection" class="ui two column grid">
      <div v-for="item in vehicles" :key="item.type" @click="select(item)" :class="item.disable ? 'column disabled-vehicle' : 'column'">
        <div :class="`ui fluid card${selected === item.type ? ' selected' : ''}`">
          <div class="ui top attached centered-text semi-transparent blue tiny label">{{priceEstimate(item.min_km_price)}}</div>
          <div class="image">
            <img :src="item.pic">
          </div>
          <div class="content">
            <i v-if="selected === item.type" class="check circle outline large green icon"></i>
            <i v-else-if="item.disable" class="times circle outline large icon"></i>
            <i v-else class="times circle outline large icon"></i>
            <a class="description">
              {{$t(item.name)}}
            </a>
          </div>
          <div v-if="item.disable" class="ui bottom attached centered-text red semi-transparent tiny label">{{$t('Comming soon!')}}</div>
        </div>
      </div>
    </div>
  </div>
  <div v-else class="ui negative message">
    {{$t('To access this feature you need to')}} <router-link :to="{path: '/login', query: $route.query}">{{$t('Login')}}</router-link>
  </div>
</div>
</template>
<script>
import {EventBus} from '../main'
import vehicles from '../vehicles.json'
export default {
  name: 'vehicle-selection',
  props: {
    selectCallback: {
      type: Function,
      default: function (vehicle) {
        console.log('selectCallback', vehicle)
      }
    },
    distanceKM: {
      type: [Number, String],
      default: 0
    }
  },
  data () {
    let Vehicles = vehicles.sort((a, b) => {
      return a.name > b.name ? 1 : -1
    }).sort((a, b) => {
      return a.disable > b.disable ? 1 : -1
    })
    return {
      vehicles: Vehicles,
      selected: 'bajaj',
      selectedVehicle: {},
      hideSelection: false
    }
  },
  methods: {
    priceEstimate (rate) {
      let price = rate + (rate * 0.1)
      if (this.distanceKM === 0) {
        return this.$t('{price} {currency} / km', {price: price.toFixed(1), currency: this.currency})
      }
      price = this.distanceKM * rate
      return this.$t('{price} {currency}', {price: Number(price).toFixed(2), currency: this.currency})
    },
    select (item) {
      if (!item) {
        return
      }
      if (item.disable) {
        return
      }
      this.selectCallback(item)
      this.selectedVehicle = item
      this.selected = item.type
      this.hideSelection = true
      EventBus.$emit('alertMessage', {text: 'Selected {vehicle}', extras: {vehicle: item.name}, interval: 3000, type: 'positive'})
    }
  },
  computed: {
    selectedVehicleName () {
      for (let i = 0; i < this.vehicles.length; i++) {
        if (this.vehicles[i].type === this.selected) {
          return this.$t(this.vehicles[i].name)
        }
      }
      return this.$t('None')
    },
    currency () {
      return this.$store.getters.getCurrencySymbol
    }
  },
  beforeMount () {
    if (!this.$store.getters.getIsAuthenticated) {
      this.$router.push({path: '/login', query: this.$route.query})
      return
    }
    for (let i = 0; i < this.vehicles.length; i++) {
      if (this.vehicles[i].type === this.selected) {
        this.selectedVehicle = this.vehicles[i]
        this.selectCallback(this.vehicles[i])
      }
    }
  }
}
</script>
<style>
.vehicle-selection-wrapper {
  width: 100%;
  padding-top: 0.5em;
}
.vehicle-selection-wrapper .column .ui.card.selected, ui.comments {
  box-shadow: 0 0 1em #000000 !important;
}
.selection-header {
  padding-bottom: 1em;
  border-bottom: 1px solid #dddddd;
}
.column.disabled {
  border: 1px solid red;
}
.centered-text {
  text-align: center;
}
.semi-transparent {
  opacity: 0.9;
}
</style>

