<template>
  <div :dir="$i18n.locale() === 'ar' ? 'rtl' : 'ltr'">
    <div class="ui segment loading-wrapper" v-if="$store.getters.isLoading.enabled">
      <div class="ui active dimmer">
        <div class="ui text loader">
          {{$t($store.getters.isLoading.message || 'Loading', $store.getters.isLoading.extras)}}
          <br>
          <br>
          <div v-if="typeof $store.getters.isLoading.onCancel === 'function' && $store.getters.isLoading.showCancel" class="ui mini primary button" @click="$store.getters.isLoading.onCancel">{{$t('Cancel')}}</div>
        </div>
      </div>
      <p></p>
    </div>
    <popup :show="showConfirmation" :NoHandler="popupProps.noHandler" :YesHandler="popupProps.yesHandler" :title="popupProps.content.title" :extras="popupProps.content.extras" :question="popupProps.content.question"></popup>
    <transition name="fade">
      <div class="app-wrapper">
        <topbar></topbar>
        <message></message>
        <div class="ui stackable grid container">
          <div class="four wide column" v-if="winWidth > 767">
            <sidebar></sidebar>
          </div>
          <div class="twelve wide column">
            <router-view class="child-view"></router-view>
          </div>
        </div>
        <bottombar></bottombar>
      </div>
    </transition>
  </div>
</template>

<script>
  import Popup from './components/Popup.vue'
  import Loading from './components/Loading.vue'
  import Topbar from './components/Topbar.vue'
  import Sidebar from './components/Sidebar.vue'
  import Bottombar from './components/Bottombar.vue'
  import Message from './components/Message.vue'
  import {EventBus} from './main'
  import {auth, location, common, transactions, vehicle} from './services'
  export default {
    name: 'app',
    components: {
      Topbar,
      Message,
      Sidebar,
      Bottombar,
      Popup,
      Loading
    },
    data () {
      return {
        winWidth: 100,
        showConfirmation: false,
        popupProps: {
          noHandler: null,
          yesHandler: null,
          content: {title: '', question: ''}
        },
        waitingVersion: 0
      }
    },
    methods: {
      getVehicles () {
        vehicle.GetVehicles().then(resp => {
          console.log('vehicle.GetVehicles response', resp)
          let self = this
          if (resp && resp.data && typeof resp.data.vehicles === 'object') {
            let userID = self.$store.getters.getProfile.id
            console.log(`userID`, userID)
            let ownVehicles = []
            let driveVehicles = []
            for (let i = 0; i < resp.data.vehicles.length; i++) {
              console.log('driver id index', resp.data.vehicles[i].drivers.indexOf(userID))
              if (resp.data.vehicles[i].owner_id === userID) {
                console.log('owner_id', resp.data.vehicles[i].owner_id)
                ownVehicles.push(resp.data.vehicles[i])
              } else if (resp.data.vehicles[i].drivers.indexOf(userID) > -1) {
                driveVehicles.push(resp.data.vehicles[i])
              }
            }
            self.$store.dispatch('setOwnVehicles', ownVehicles)
            self.$store.dispatch('setDriveVehicles', driveVehicles)
          }
        }).catch(err => {
          console.log('vehicle.GetVehicles error', err.response || err.toString())
        })
      },
      getWallets () {
        let self = this
        transactions.GetWallets().then(resp => {
          console.log('transactions.GetWallets response', resp)
          if (resp && resp.data && resp.data.hasOwnProperty('wallets')) {
            self.$store.dispatch('setWallets', resp.data.wallets)
          }
        }).catch(err => {
          console.log('transactions.GetWallets error', err)
        })
      },
      getVersion () {
        console.log('getVersion', this.$store.getters.getIsOnline)
        let self = this
        clearInterval(self.waitingVersion)
        this.waitingVersion = setTimeout(() => {
          auth.GetVersion().then(resp => {
            console.log('auth.getVersion response', resp)
            if (!self.$store.getters.getProfile.id) {
              self.getProfile()
            }
            self.$store.dispatch('setVersion', {version: resp.data, online: true})
            clearInterval(self.waitingVersion)
          }).catch(err => {
            console.log('auth.getVersion error', err.response || err.toString())
            let isOffline = (err.toString().indexOf('Network Error') > -1)
            console.log('isOffline', isOffline)
            if (err.toString().indexOf('Network Error') > -1) {
              self.$store.dispatch('setOnline', {online: false})
            }
            self.getVersion()
          })
        }, 1000)
      },
      showPopupHandler (data) {
        console.log('showPopupHandler', data)
        if (!data) {
          this.$store.dispatch('setShowPopup', false)
        }
        if (data.content && data.content.title) {
          this.popupProps.content.title = data.content.title
        }
        if (data.content && data.content.question) {
          this.popupProps.content.question = data.content.question
        }
        if (data.content && data.content.extras) {
          this.popupProps.content.extras = data.content.extras
        }
        console.log('noHandler type', typeof data.noHandler === 'function')
        if (data.noHandler && typeof data.noHandler === 'function') {
          this.popupProps.noHandler = data.noHandler
        }
        console.log('yesHandler type', typeof data.yesHandler === 'function')
        if (data.yesHandler && typeof data.yesHandler === 'function') {
          this.popupProps.yesHandler = data.yesHandler
        }
        this.$store.dispatch('setShowPopup', true)
      },
      getProfile () {
        let self = this
        auth.GetProfile().then(resp => {
          console.log('getProfile response', resp)
          if (resp && resp.data && resp.data.profile) {
            self.$store.dispatch('setProfile', resp.data.profile)
          }
        }).catch(err => {
          console.log('getProfile error', err.response || err)
          if (err.toString().indexOf('Network Error') > -1) {
            self.$store.dispatch('setVersion', {version: {}, online: false})
          }
        })
      },
      checkWindowWidth () {
        this.winWidth = window.innerWidth
      },
      resetNearbyDistrictsHandler (data) {
        if (!data) {
          console.log('resetNearbyDistrictsHandler invalid data', data)
          return
        }
        if (!data.location) {
          console.log('resetNearbyDistrictsHandler invalid data', data)
          return
        }
        let self = this
        location.NearbyDistricts(data.location.lat, data.location.long, this.$store.getters.maxRadius).then(resp => {
          console.log('location.NearbyDistricts response', resp)
          if (resp && resp.data && resp.data.results) {
            self.$store.dispatch('setNearbyDistricts', resp.data.results)
            if (self.$store.getters.getIsDriver) {
              setTimeout(() => {
                self.listenNearbyDistricts()
              }, 1000)
            }
          }
        }).catch(err => {
          console.log('location.NearbyDistricts error', err.response || err.toString())
          if (err.toString().indexOf('Network Error') > -1) {
            self.$store.dispatch('setVersion', {version: {}, online: false})
          }
        })
      },
      subscribeSSEHandler (channel) {
        if (!channel) {
          console.log('invalid SSE channel', channel)
          return
        }
        console.log('subscribeSSEHandler', channel)
        let url = common.getSSEDomain(`/subscribe${channel.channel || channel || '/'}`)
        let sse = new EventSource(url)
        sse.addEventListener('message', this.sseListener, false)
        sse.addEventListener('error', this.sseErrorListener, false)
        sse.addEventListener('open', this.sseOpenListener, false)
        console.log('SSE channel added', sse)
      },
      sseListener (e) {
        let msg = JSON.parse(e.data)
        console.log('SSE received', e.target.url)
        if (e && e.data) {
          if (msg && msg.trip_id && msg.trip_id.length === 24) {
            this.$store.dispatch('addTripRequests', msg)
          }
        }
      },
      sseErrorListener (e) {
        console.log('SSE: sseErrorListener', e)
        this.$store.dispatch('setOnline', {online: false})
      },
      sseOpenListener (e) {
        console.log('sseOpenListener', e)
        this.$store.dispatch('setOnline', {online: true})
      },
      checkUserLevel () {
        let self = this
        auth.GetUserLevel().then(resp => {
          console.log('auth.GetUserLevel response', resp)
          if (resp && resp.data && resp.data.level > 5) {
            setTimeout(() => {
              self.getVehicles()
            }, 1000)
          }
          self.$store.dispatch('setUserLevel', resp.data)
        }).catch(err => {
          console.log('auth.GetUserLevel erroro', err.response || err.toString())
          if (err.toString().indexOf('Network Error') > -1) {
            self.$store.dispatch('setVersion', {version: {}, online: false})
          }
        })
      },
      listenNearbyDistricts () {
        let districts = this.$store.getters.getNearbyDistricts.slice()
        console.log('listenNearbyDistricts', districts)
        for (var i = 0; i < districts.length; i++) {
          this.subscribeSSEHandler(`/trip/${districts[i].name}`)
        }
      }
    },
    beforeMount () {
      console.log('App.beforeMount', this.$route.query)
      if (this.$route.query.mogadishu === 'true') {
        this.$store.dispatch('setIsMogadishu', true)
      }

      let self = this
      self.getVersion()
      window.addEventListener('resize', this.checkWindowWidth, false)
      let token = localStorage.getItem('user_token')
      self.$store.dispatch('setToken', token)
      self.checkUserLevel()
      EventBus.$on('resetNearbyDistricts', this.resetNearbyDistrictsHandler)
      EventBus.$on('subscribeSSE', this.subscribeSSEHandler)
      EventBus.$on('authenticated', data => {
        self.getProfile()
        self.checkUserLevel()
        self.getWallets()
      })
      EventBus.$on('showPopup', this.showPopupHandler)
      setTimeout(() => {
        if (token && token.length > 50) {
          self.getProfile()
          self.getWallets()
        }
      }, 1000)
    },
    mounted () {
      setTimeout(() => {
        EventBus.$emit('alertMessage', {text: 'Welcome to qaado carpooling', interval: 1000, type: 'positive'})
      }, 1000)
    }
  }
</script>

<style>
/* .app-wrapper > .ui.stackable.grid.container {
  padding-bottom: 3.5em;
} */
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.ui.segment.loading-wrapper {
  position: fixed;
  top: -1em;
  right: 0;
  bottom: -1em;
  left: 0;
  z-index: 10000;
}
</style>
